body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
header {
    position: fixed;
    width: 100%;
    z-index: 100;
}
#top-bar {
    background-color: #1CD1B0;
    height: 38px;
    padding-top: 15px;
}
header span {
    margin: 0px;
    padding-top: 30px;
    padding-left: 10px;
}
header h1 {
    margin: 0px;
    padding-top: 30px;
    padding-left: 20px;
}
#top-bar span {
    align-self: center;
}
#title {
    background-color: #00669F;
    height: 101px;
    box-shadow: 0 6px 10px gray;
}
#container {
    padding-top: 200px;
    width: 80%;
    min-height: 800px;
    margin: 0 auto;
    display: inline-flex;
}
main {
    margin-left: 20%;
    margin-right: 20%;
    min-height: 450px;
}
.info-card1 {
    background-color: #f3f3f3; 
    box-shadow: 0 6px 10px gray;
    left: 40px;
    max-width: 300px;   
    max-height: 529px; 
    width: 100%;
    margin: 20px;
}
.card-header {
    position: relative;
}
.heart {
    position: absolute;
    left: 25px;
    top: 30px;
}
.card-content {
    position: relative;
    height: 336px;

}
.photo {
    position: absolute;
    top: 120px;
    left: 84px;
}
.description {
    
    /* max-width: 274px;
    height: 236px; */
    padding: 60px 13px 20px;
    /* position: absolute; */
    margin: 0;
}
h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.about {
    position: absolute;
    /* bottom: 380px; */
    padding: 0 20px;
    top: 100px;
    bottom: 40px;
}
.boton {
    position: absolute;
    left: 85px;
    bottom: 30px
}

.info-card2 {
    background-color: #f3f3f3; 
    box-shadow: 0 6px 10px gray;
    left: 40px;
    max-width: 300px;   
    max-height: 529px; 
    width: 100%;
    margin: 20px;
}
.info-card3 {
    background-color: #f3f3f3; 
    box-shadow: 0 6px 10px gray;
    left: 40px;
    max-width: 300px;   
    max-height: 529px; 
    width: 100%;
    margin: 20px;
}
footer {
    background-color: #00669F;
    color: white;
    padding: 10px 30px 20px;
    text-align: center;
    width: 100%;

}