body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
header {
    background-color: #000000;
    padding: 4px 20px 4px 0px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
span {
    color: #ffffff;
    padding-right: 20px;
}
.tabulado {
    padding-left: 100px;
}
.idiomas {
    display: flex;
    flex-direction: row;
}
.idiomas div {
    padding-left:15px;
}
nav{
    background-color:#F0A83E; 
    padding-top: 20px; 
    padding-bottom: 40px;
}
nav div{
    float: right;
    color: #ffffff;
    padding-right: 15px;
    padding-bottom: 13px;
}
.logo{
    float: left;
    padding-left: 3%;
}
#destacados {
    margin-top: 50px;
    text-align: center;
}
#destacados h1{
    font-size: 300%;
}
#destacados span{
    color: #666666;
    padding-left: 10px;
}
#destacados img{
    padding-right: 20px;
}
#contacto {
    margin-top: 50px;
    text-align: center;
}
#contacto img{
    padding-bottom: 10px;
}
h1, h2 {
    color: #3C2313; 
}
h2 {
    font-size: 200%;
}
.botones img{
    padding-right: 10px;
}
#newsletter {    
    margin: 0px;
    background-color:#F0A83E;
    font-size: 23px;
    padding: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#newsletter div{
    padding-left: 30px;
}
.derecha {
    text-align: right;
}
#pie {
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
}
#pie img{
    padding: 20px 0 15px 60px;
}
#pie-derecha {
    align-self: center;
    padding-right: 30px;
}
#copy-right {
    background-color: #000000;
    font-size: 10px;
    text-align: center;
    padding: 5px;
}